extends layout

block content
  h1 Server Status (Dev)
  table
    thread
      tr
        th Server
        th CPU
        th Disk
        th Mem
    tbody
    - for (var i=0; i < status.length; i += 1) {
      tr
        td= status[i].host
        td= status[i].cpu + '%'
        td
          pre= status[i].disk
        td= status[i].mem
    - }

  # This server is run using nohup.
