body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table { border-collapse: collapse; border: solid thick }
td { border:solid thin; padding:6px }
th { border:solid thin; padding:6px; background:lightgreen }
tbody { border: solid medium }